*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@keyframes blink{
  0% {opacity: 0.2;}
  50% {opacity: 1;}
  100% {opacity: 0.2;}
}
body{
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}
.urn{
  background-color: #dbd5c9 ;
  padding: 30px;
  display: flex;
}
.display{
  width: 500px;
  height: 320px;
  background: linear-gradient(to right, #e8e8e8, #c1c1c1);
  border: 2px solid #555;
  display: flex;
  flex-direction: column;
}
.display_division-1{
flex: 1;
display: flex;
}
.division-1--left{
flex: 1;
display: flex;
flex-direction: column;
padding-left: 20px;
}
.division-1-header{
  height: 50px;
  display: flex;
  align-items: center;
}
.division-1-position{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.division-1-numbers{
  height: 50px;
}
.division-1-numbers .number{
  display: inline-block;
  width: 30px;
  height: 40px;
  border: 1px solid #000;
  text-align: center;
  line-height: 40px;
  font-size: 25px;
  margin-right: 1px;
}
.blink{
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.division-1-candidate{
  flex: 1;
  line-height: 30px;
}
.division-1--right{
width: 90px;
display: flex;
flex-direction: column;
align-items: flex-end;
}
.division-1-image{
  border: 1px solid #000;
  background-color: #fff;
  text-align: center;
  font-size: 14px;
}
.division-1-image img{
  width: 100%;
}
.division-1-image.small{
  width: 80%;
  font-size: 12px;
}
.display_division-2{
height: 50px;
font-size: 13px;
border-top: 2px solid #000;
padding-left: 10px;
font-weight: bold;
display: flex;
align-items: center;
}
.keyboard{
  background-color: #403a3a;
  margin-left: 30px;
}
.keyboard-row{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.keyboard-button{
  width: 70px;
  height: 40px;
  background-color: #000;
  color: #fff;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  cursor: pointer;
  box-shadow: 3px 3px 0px #555;
  border-radius: 3px;
}
.button-white, .button-fix, .button-confirm {
  color: #000;
  font-size: 15px;
  width: 90px;
}
.button-white{
  background-color: #fff;
}
.button-fix{
  background-color: #D35E18;
}
.button-confirm{
  background-color: #48c079;
  height: 50px;
}

.big-warning{
  font-size: 40px;
  text-align: center;
  margin-top: 30px;
}
.giant-warning{
  font-size: 120px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}